<!DOCTYPE html>
<div class="container">
<h2>Your opinion matters.</h2>
<p>"ProductReview System" is a community of consumers helping each other make better purchasing decisions.</p>
  
</div>
<div class="container">
<%= link_to 'Add Your product', new_product_path,class:'btn btn-default btn-lg' %>

<p id="notice"><%= notice %></p>




<br>
<% if @products.blank? %>
  <h4>There are no products containing the term <%= params[:search] %>.</h4>
<% end %>
<% if user_signed_in? %>



<% end %>
</div>
<div class="container">

        <!-- Marketing Icons Section -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    Our Products
                </h1>
            </div>
            <% @products.each do |product| %>
            <div class="col-md-4">


                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4><i class="fa fa-fw fa-check"></i><%= product.name %></h4>
                        <h4><i class="fa fa-fw fa-check"></i> <%= product.price %></h4>
                    </div>
                    <div class="panel-body">
                        <p><%= product.description %></p>
                        <a ><%= link_to 'Show', product,class:'btn btn-default btn-lg' %></a>
                        <a ><%= link_to 'Edit', edit_product_path(product),class:'btn btn-default btn-lg' %></a>
                        <a ><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } ,class:'btn btn-default btn-lg'%></a>
                    </div>
                </div>
            
                  
            
                    
                </div>
                <% end %>
            </div>
        </div>